datasets
gradio
nltk
peft
scipy
torch
transformers
tokenizers
tqdm
numpy
huggingface_hub
sacremoses
h5py
requests
spacy
pandas
typing_extensions
zlib
pip
dataclasses
wheel
openssl
filelock
pytz
rich
keras
colorama
yaml
pyyaml
zipp
setuptools
cffi
regex
mpmath
sympy
gmpy2
python
astunparse
tensorboard
psutil
packaging
networkx
importlib_metadata
urllib3
fsspec
ujson
markupsafe
joblib
cloudpickle
python-dateutil
certifi
murmurhash
six
idna
pyparsing
jinja2
pygments
safetensors
accelerate
pydantic
typer
matplotlib
pillow
cycler
contourpy
fonttools
freetype
unicodedata2
importlib_resources
tornado
kiwisolver